@import 'tailwindcss';
@import '@pelatform/ui/css';
@import '@pelatform/ui.auth/css';

:root {
  --primary: oklch(0.782 0.106 167.126);
  --warning: hsl(38 92% 50%);
  --warning-foreground: hsl(48 96% 89%);
}

.dark {
  --primary: oklch(0.782 0.106 167.126);
  --warning: hsl(48 96% 89%);
  --warning-foreground: hsl(38 92% 50%);
}

@theme inline {
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
}

/** Smooth scroll **/
html {
  scroll-behavior: smooth;
}

/** Custom Containers **/
@utility container {
  @apply mx-auto max-w-none px-4 lg:px-5;
  @media (width >= --theme(--breakpoint-xl)) {
    @apply max-w-(--breakpoint-xl);
  }
}

@utility container-fluid {
  @apply mx-auto w-full px-4 lg:px-5;
}
